/node_modules
/package-lock.json
/db/*
!/db/.gitkeep

/config-admin.json
/config-manager.json

/public/admin/*
!/public/admin/.gitkeep
/public/client/*
!/public/client/.gitkeep
/public/manager/*
!/public/manager/.gitkeep
