<div>
    <label>
        Html : 
        <textarea v-model="value" type="radio" value="true" />
    </label><br />
    <label>
        Javascript : 
        <input v-model="value" type="radio" value="true" />
    </label><br />
    <label>
        CSS : 
        <input v-model="value" type="radio" value="true" />
    </label><br />
    <label>
        Images : 
        <label><input v-model="value" type="radio" value="true" /> Oui</label>
        <label><input v-model="value" type="radio" value="false" /> Non</label>
    </label><br />
</div>
