<div>
    <label>
        Html : <br/>
        <file-editor v-model="item.html" type="html" filename="index.html" />
    </label><br />
    <label>
        Javascript : 
        <input v-model="item.js" type="text" />
    </label><br />
    <label>
        CSS : 
        <input v-model="item.css" type="text" />
    </label><br />
    <label>
        Images : 
        <div v-for="image in item.images">
            <input v-bind:value.sync="image" type="text" />
        </div>
    </label><br />
</div>
