<div>
    Html : <br/>
    <file-editor v-model="item.html" type="html" extension=".html,.htm" filename="index.html" />
    <br />
    Javascript : 
    <file-editor v-model="item.js" type="js" extension=".js" filename="script.js" />
    <br />
    CSS : 
    <file-editor v-model="item.css" type="css" extension=".css" filename="style.css" />
    <br />
    Images : <button v-on:click="addImage">Nouvelle</button>
    <div v-for="(image, index) in item.images">
        <image-editor v-bind:value="image" :key="image.filename" v-on:input="item.images.splice(index,1,$event)" type="text" 
            v-bind:previewSize="{width:150, height:150}" extensions=".jpeg,.jpg,.gif,.png">
            <template v-slot:buttons>
                <button v-on:click="removeImage(index)">Supprimer</button>
            </template>
        </image-editor>
    </div>
    <br />
    <br />
</div>
