<div class="controles">
    <h1>Controles</h1>
    <div v-for="item in items" class="controle">
        <label>Type : <select v-model="item.type">
            <option v-for="(info,type) in types" v-bind:value="type">{{ info.label }}</option>
        </select></label><br />
        <label>Identifiant : <input v-model="item.controleId" /></label><br />
        <label>Libelle : <input v-model="item.libelle" /></label><br />
        <component v-bind:is="getComponent(item.type)" v-bind:default="item.defaultValue"></component>
    </div>
    <button v-on:click="add">Nouveau</button><br />
    <button v-on:click="save">Enregistrer</button>
</div>