<div>
    <label>
        Nombre de décimales : 
        <input-number v-model="item.decimal" min="0" max="10" />
    </label><br />
    <label>
        Valeur par défaut : 
        <input-number v-model="value" v-bind:step="precision" required="required" />
    </label><br />
    <label>
        Minimum : 
        <input-number v-model="item.minimum" v-bind:step="precision" />
    </label><br />
    <label>
        Maximum : 
        <input-number v-model="item.maximum" v-bind:step="precision" />
    </label><br />
    <label>
        Pas : 
        <input-number v-model="item.step" v-bind:step="precision" />
    </label><br />
</div>
