<div>
    <label>Valeurs</label>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Par défaut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(pair, index) in valuePairs">
                <td><input v-model="pair.key" type="text" required="required" pattern="[^;]*" /></td>
                <td><input v-model="pair.label" type="text" /></td>
                <td v-if="item.multiple"><input v-model="valueMulti"
                    v-bind:value="pair.key" type="checkbox" /></td>
                <td v-else><input v-model="valueSingle" v-bind:name="'defaultValue'+_uid"
                    v-bind:value="pair.key" type="radio" 
                    required="required" /></td>
                <td><button v-on:click="removeValue(index)">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
    <button v-on:click="addValue">Ajouter une valeur</button>
    <label>
        Choix multiple : 
        <label><input v-model="item.multiple" type="radio" v-bind:value="true" /> Oui</label>
        <label><input v-model="item.multiple" type="radio" v-bind:value="false" /> Non</label>
    </label><br />
</div>
